<li id="comment-<%=comment.id%>" >
    <p>
        <%=comment.content%>
        <br>
        <small><%=comment.user.name%></small>
    </p>
    <% if(locals.user && locals.user.id == comment.user.id ){ %>
        <small><a href="/comment/destroy/<%=comment.id%>" class="comment-delete-link" >delete comment</a></small>
        <% }%>
</li>