<header>
    <link rel="stylesheet" href="/css/header.css">
    <h1>This is Header</h1>
    <ul>
        <% if(locals.user) { %>
            <li><a href="/user/profile/<%=user.id %>"><%= user.name %> </a></li>
            <li><a href="/user/sign-out">sign out</a></li>
            <% } else { %>
            <li><a href="/user/sign-in">sign in</a></li>
             <li><a href="/user/sign-up">sign out</a></li>
             <% }  %>
    </ul> 
</header>