<form action="/user/forgot-password" method="post">
<label for=""><h2>Enter your email to reset Password</h2> <input type="email" name="email" id="email"></label>
<button type="submit">Submit email</button>
</form>