<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- noty script -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.js"></script>
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"></script>
    <%- style%>
    <a href="/" class="layout"> clcikme</a>
</head>

<body>
   
    <h2>this part is from layouts</h2>
    
    <%- body%>



    <script>
         <% if(flash.success && flash.success.length > 0){ %>
    
        new Noty ({
                    theme : "relax",
                    text : " <%= flash.success %>" ,
                    type :"success",
                    layout:'topRight',
                    timeout :1500
        }).show()
    <% }%>
    </script>
    <script src="/js/home_posts.js"></script>
    <script src="/js/home_comments.js"></script>
    
</body>
</html>