<div id="form-div">
    <h2>this part is from layout-variable</h2>
    <br><h1>hello would you like to sign in ?</h1>
    <input type="text" name="user_id" id="user-id" placeholder="Username">
    <br>
    <input type="password" name="user_passowrd" id="user-password" placeholder="Password">
    <br>
    
    
    <button type="submit">submit</button>
</div>